div.form-box-container
  div.form-box
    div.form-group
      label(for="username") Username
      input.form-control(type="text" id="username" name="username" placeholder="marthab101")
    div.form-group
      label(for="title") Password
      input.form-control(type="password" id="password"  name="password" placeholder="password")
    button.btn.btn-primary(type="submit") #{button_text}
