extends ../layout

append body 
  .container 
    p
      if notice
        p=notice
      if error
        p=error
        
    div.form-box-container
      .alternative_action
        h1 SIGN IN
    form(action="/users/login" method="POST")
      include form.jade


    div.form-box-container
      div.alternative_action
        a(href="/auth/signup")  Don't have an account? Sign up
    p or
    a(href='/auth/facebook')
      button.btn.btn-primary(type="submit" href='/auth/facebook' class="btn btn-social btn-twitter") Log in with Facebook
