
extends ../../node_modules/jade-bootstrap/layouts/starter


append body
	.container
		h1= title
		for bin in bins
			h1 Bin Title: #{bin.title}
			h1 Bin Description: #{bin.description}
		
	h1 
		a(href='/ventures/#{ventu_id}/bins/new') Add Your Shit
