
extends ../../node_modules/jade-bootstrap/layouts/starter

append body
  div
    h1 New Bin
    form(action='/ventures/#{venture.id}/bins'  method='post')
      div.form-group
        label(for="title") Title
        input.form-control(type="text" id="title" name='title' placeholder="Title")
      div.form-group
        label(for="description") Description
        input.form-control(type="text" id="description" name='description' placeholder="what's in your rig")
      div.form-group
        label(for="advice") Advice
        input.form-control(type="text" id="advice" name='advice' placeholder="a tip or two for noobs")
      div.form-group
        label(for="venture_id")
        input.form-control(type="hidden" id="venture_id" name='venture_id' value='#{venture.id}')
      div.form-group
          label Experience
          p
            input(type="radio" name="experience" value="1" checked)
            one 1-3 years 
      div.form-group
        input(type="radio" name="experience" value="2")
        two 4-5 years
      div.form-group
        input(type="radio" name="experience" value="3")
        three 5-10 years
      div.form-group
        input(type="radio" name="experience" value="4")
        four since the beginning of time
      //- div.form-group
      //-   label(for="description") Description
      //-   textarea.form-control(rows="5" id='description' name='description' placeholder="Keep it brief")
      button.btn.btn-primary(type="submit") Submit
