
extends ../layout

append body
  .container
    div
      h1 new user card
      form(action='/ventures/#{venture.id}/bins'  method='post')
        div
          label(for="title") Title
          input.form-control(type="text" id="title" name='title' placeholder="Title")
        div
          label(for="description") Description
          input.form-control(type="text" id="description" name='description' placeholder="what's in your rig")
        div
          label(for="advice") Advice
          input.form-control(type="text" id="advice" name='advice' placeholder="a tip or two for noobs")
        div
          label(for="venture_id")
          input.form-control(type="hidden" id="venture_id" name='venture_id' value='#{venture.id}')
          input.form-control(type="hidden" id="user_id" name='user_id' value='#{user}')
        div
            label Experience
            p
              input(type="radio" name="experience" value="1" checked)
              one 1-3 years 
        div
          input(type="radio" name="experience" value="2")
          two 4-5 years
        div
          input(type="radio" name="experience" value="3")
          three 5-10 years
        div
          input(type="radio" name="experience" value="4")
          four since the beginning of time
        br
        button.btn.btn-primary(type="submit") Next > 
    
