
extends ../layout

append body
	.container
		.cardDisplay
			for bin in bins
				div.card
					h3.cards #{bin.title}
					img(class='binPreview' src="#{bin.image}")
					img(class="heart" src="https://s3-us-west-2.amazonaws.com/testphotosnoobish/like.png")
					h4.upvote #{bin.upvote}
				
	h1 
		a(href='/ventures/#{ventu_id}/bins/new') Add Your Shit
