extends ../layout

append body
  h1 this is a test
  h1 this is a test
  p
  p  
  .container
  h1 WELCOME TO COMMENTS INDEX PAGE
  h1 what type of venture:  #{venture.venture}
  h1 what type of bin: #{bin.title}
  if comments
    for comment in comments
      h1 a user commented: #{comment.comment}
