extends layout


append body
	.container.mainHome
		h1.tits everybody's gotta start somewhere
		div(class='input-group')
			input(type='text' class='form-control' placeholder='search for your next passion')
			span(class='input-group-btn')
				button.purps(class='btn btn-default' type='button') Go!
	div.footer.navbar-fixed-bottom
