extends layout


append body
	.container.mainHome
		h3 Everybody's gotta start somewhere
		div(class='input-group')
			input(type='text' class='form-control' placeholder='Search for your next Passion')
			span(class='input-group-btn')
				button(class='btn btn-default' type='button') Go!
	div.footer.navbar-fixed-bottom
