extends layout
append body 
  .container.landingContainer
    h1.landingTitle Welcome to Noobish 
    p Noobish is an app for veteran hobbyists and amateurs alike! 
    p Whether you're a master of your craft or you're interested in a new hobby, our network of Hobbyists is sure to provide the connections and know-how you're looking for. 
    p Click the button below to sign up and start exploring new ventures now!  
    a(href='/auth/signup')
      button.btn.btn-primary(type="submit" href='/auth/signup' class="btn btn-social btn-twitter" class="landingButton") Sign up now to get started!
